<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ServiceDesignKIT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/techniques/techniques.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/srobot.css">
    <link rel="stylesheet" href="../css/admin/font-awesome/css/font-awesome.css">
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

        gtag('config', 'UA-158194122-1');
     </script>
</head>
<body>
   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light sticky-top" id="nav">
        <a class="navbar-brand" href="/" id="title"><img src="../icons/LOGO.png" alt="logo" id="logo"> ServiceDesignKIT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <form class="form-inline" id="tnsearch">
                     <div class="input-group" >
                      <input id="search-input" type="text" placeholder="Search for...">
                      </div>
            </form>

     <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
        <ul class="navbar-nav nav-pills">
          <li class="nav-item">
            <a class="btn btn-sm nav-link"  href="/">Home</a>
         </li>
       <li class="nav-item">
        <a class="btn btn-sm nav-link  choosed" href="/techniques">Techniques</a>
       </li>
      <!--  <li class="nav-item">
        <a class="btn btn-sm nav-link" href="/robot">Advisor</a>
       </li> -->
       <li class="nav-item" id="login-icon">
        <a class="btn btn-sm nav-link" data-toggle="modal" data-target="#login" href="#"><i class="fa fa-fw fa-sign-in"></i>Log in</a>
       </li> 
       <li class="nav-item" id="user-icon">
        <a class="btn btn-sm nav-link" href="/user"> <i class="fa fa-fw fa-user"></i><span>My Techniques</span></a>
       </li> 
       <li class="nav-item" id="logout-icon">
        <a class="btn btn-sm nav-link" data-toggle="modal" data-target="#logout" href="#"><i class="fa fa-fw fa-sign-out"></i>Log out</a>
       </li> 
      
    </ul>
    
  </div>
</nav>

          <!-- login -->
       <div id="login" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"    aria-labelledby="mySmallModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-sm">
                <div class="modal-content">
                   <div id="login-form">
                     <h3>Log in</h3>
                     <div class="alert alert-danger" role="alert">
                      </div>
                      <form action="/user/login" method="post">
                         <div class="form-group" id="login-email">
                            <label for="Email1">Email address</label>
                            <input name="email" type="email" class="form-control"  placeholder="email@example.com">
                          </div>
                          <div class="form-group" id="login-password">
                             <label for="Password1">Password</label>
                             <input name="password" type="password" class="form-control"  placeholder="Password">
                          </div>
                          <a data-toggle="modal" data-target="#signup" href="">Sign up</a>
                          <button type="submit" class="btn btn-primary btn-outline-secondary">OK</button>
                      </form>
                   </div>
                </div>
            </div>
        </div>
        <!-- signup -->
        <div id="signup" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                     <div id="signup-form">
                       <h3>Sign up</h3>
                       <div class="alert alert-danger" role="alert">
                        </div>
                         <div class="alert alert-success" role="alert">
                        </div>
                        <form action="/user/signup" method="post">
                          <div class="form-group" id="signup-username">
                            <label for="username">Name</label>
                            <input name="username" type="text" class="form-control"  placeholder="Name"><div class="invalid-feedback">
                               
                             </div>
                          </div>
                          <div class="form-group"id="signup-email">
                            <label for="Email2">Email address</label>
                            <input name="email" type="email" class="form-control"  placeholder="email@example.com">
                            <div class="invalid-feedback">
                               
                             </div>
                          </div>
                          <div class="form-group"  id="signup-password" >
                             <label for="Password2">Password</label>
                             <input name="password" type="password" class="form-control" placeholder="Password">
                             <div class="invalid-feedback">
                               
                             </div>
                          </div>
                          <div class="form-group"  id="signup-passwordconfirm">
                             <label for="Password3">Password Confirmation</label>
                             <input name="passwordconfirm" type="password" class="form-control" placeholder="Password Confirmation">
                             <div class="invalid-feedback">
                               
                             </div>
                          </div>
                          <button type="submit" class="btn btn-primary btn-outline-secondary">OK</button>
                      </form>
                   </div>
                 </div>
                </div>
        </div>

        <!-- logout -->
        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Log out</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                       </button>
                    </div>
                    <div class="modal-body">
                       Ar you sure to log out?
                  </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary btn-outline-secondary" data-dismiss="modal">Close</button>
                    <a href="/user/logout" class="btn btn-primary">Log out</a>
                 </div>
                </div>
             </div>
         </div>

          
         <!-- Techniques Attributes Selecter -->
        <div id="selecter">
          <div class="container">
          <p>You can use the taxonomy to filter design techniques.</p>
          <p id="citation">When using the taxonomy, please cite as Liu, Xuanhui; He, Simin; and Maedche, Alexander, (2019). "DESIGNING AN AI-BASED ADVISORY PLATFORM FOR DESIGN TECHNIQUES". In Proceedings of the 27th European Conference on Information Systems (ECIS), Stockholm & Uppsala, Sweden, June 8-14, 2019. ISBN 978-1-7336325-0-8 Research Papers. To read the paper, please click <a href="https://aisel.aisnet.org/ecis2019_rp/152/">here</a>.<p/>
            <div class="accordion" id="accordionExample">    
               <a class="btn btn-block"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="attr">
                 <div class="row justify-content-center">
                  <div class="col-sm">
                    <span>
                      Design Phase
                     </span>
                  </div>
                  <div class="col-sm">
                      <span>
                         Time Dependency
                       </span>
                  </div>
                  <div class="col-sm">
                      <span>
                        Duration
                      </span>
                  </div>
                  <div class="col-sm">
                      <span>
                          User Participation
                        </span>
                  </div>
                  <div class="col-sm">
                     <span>
                           Evaluation Type
                       </span>
                  </div>
                 </div>     
               </div>  
              </a>
            </div>      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="row">
             <div class="col-sm">
               <div class="list-group list-group-flush" id="select1">
             <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_dp" value="Planning">Planning</a>
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_dp" value="Detailed prototyping">Low-Fidelity Prototyping</a>
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_dp" value="Draft prototyping">High-Fidelity Prototyping</a>
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_dp" value="Launching">Release</a>
             </div>
           </div>
           <div class="col-sm">
           <div class="list-group list-group-flush" id="select2">
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_td" value="Real-time">Real-Time</a>
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_td" varlue="Retrospective">Retrospective</a>
           </div>
          </div>
          <div class="col-sm">
           <div class="list-group list-group-flush" id="select3">
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_d" value="Short term">Long-Term Study</a>
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_d" value="Long term">Short-Term Study</a>
          </div>
          </div>
          <div class="col-sm">
           <div class="list-group list-group-flush" id="select4">
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_up" value="Without real user">User Attendance</a>
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_up" value="User involved">User Absence</a>
           </div>
          </div>
          <div class="col-sm">
           <div class="list-group list-group-flush" id="select5">
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_et" value="Group disscussion">Questionnaire</a>
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_et" value="Questionnaire">Interview</a>
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_et" vaule="Observation">Experiment</a>
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_et" value="Interview">Observation</a>
            <a href="#" class="tnpar list-group-item list-group-item-action text-center" data-toggle="button" aria-pressed="false" target="tn_et" value="Experiment">Group Discussion</a>
            </div> 
           </div>        
          </div>
        </div>
       
          <!-- filter -->
            <div id="filter">
                   
            
            </div>
        </div>
     </div> 
  
        <!-- Page Content -->
        <div class="container">
           <div class="row">
            <div class="col-sm-10">
              <div class="row" id="cards">
            
                    
                 
              </div>
            </div>
             <div class="col-sm-2">
                 
                 <!-- <div style="margin-top: 20px;">
                     <h3>Tags</h3>
                 </div>
                  <div style="border:1px solid #CCC"></div> -->
                  <div id="tag">
                      <a href="#" class="badge badge-pill badge-secondary notchoosed" tag-number="tag1">User Research</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed" tag-number="tag2">Idea Generation</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed" tag-number="tag3">Information Organization</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed" tag-number="tag4">Feedback Collection</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed" tag-number="tag5">Prototype Evaluation</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed" tag-number="tag6">Prototyping</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed"tag-number="tag7">Evaluation</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed"tag-number="tag8">Expert Participation</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed"tag-number="tag9">Product Evaluation</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed"tag-number="tag10">Collaboration with Stakeholders</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed"tag-number="tag11">User Participation</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed"tag-number="tag12">Short-Term Duration</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed"tag-number="tag13">Long-Term Duration</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed"tag-number="tag14">UX Evaluation</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed"tag-number="tag15">Mid-Term Duration</a>
                      <a href="#" class="badge badge-pill badge-secondary notchoosed"tag-number="tag16">Relationships and Dependencies</a>
                    </div>
            </div>
          </div>
         </div>
      </div>


        <!-- scroll to top -->
         <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
          

        <!-- frame of timo -->
        <div id="robot">
           <a class="btn" ><img id="asktimo" src="../icons/Timo_02.png" alt="ask timo" ></a>
        </div>
        <img id="ask" src="../icons/Ask.png" alt="">

          <div id="frame">
            <!-- <div class="row" > -->
              <!--    <div class="col-2" id="f-list"> 

                        <button  id="f-timo" >Advisor</button>

                         <button  id="f-contact" href="/robot">Contact</button>
     
      
                       <div id="rightborder"></div>
                 </div>   -->
             

               <div class="card-header" id="f-title">
                 Advisor
                 

                 <a class="btn btn-sm" id="f-close">
                  <span aria-hidden="true">
                  &times;
                  </span>
                  </a>
                  <a data-toggle="tooltip" data-placement="fullscreen" title="Fullscreen" id="fullscreen" href="/robot"><img src="../icons/Fullscreen.png" alt=""></a>
               </div>

                <div id="f-content">
                
                     <ul class="scontent" id="scontent">
                     
              
                   </ul>

                 <!-- f-content  -->      
              </div>


                  <div class="input-group" id="user-text-input1">
                        <input id="user-text1" type="text" class="form-control user-text" placeholder="" aria-label="type something" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button id="user-text-ok1" placeholder="type something" class="btn btn-outline-secondary user-text-ok" type="button">
                            <img src="../icons/send1.png" alt="">
                            </button>
                        </div>
                  </div>
              <!-- row -->
          <!-- </div> -->
          <!-- frame -->
        </div>


           
   <div id="privacy-alert" class="alert alert-dark" role="alert">
           We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you are happy with it.
           <a id="privacy" href="/privacy">Privacy</a>
           <a id="p-agree" class="btn btn-secondary btn-sm" style="color:white;"> I agree. </a>
   </div>

  






<!-- 


    <footer class="py-3">
      <div class="container">
        <a href="">Impress</a>
      </div>
    </footer>
 -->



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
     <script src="../js/techniques.js" type="text/javascript"></script>
     <script src="../js/user.js" type="text/javascript"></script>
     <script src="../js/srobot.js" type="text/javascript"></script>
     <script src="../js/jquery-cookie.js" type="text/javascript"></script>
</body>
</html>