html, body {
  font-family: Arial;
}

.tndetails{
  border-bottom: 3px solid #666666;
  font-size:25px;

}
h1 {
  margin-bottom: 50px;
}
#tag-details{
  font-size: 25px;
  border-bottom: 3px solid #666666;
}
#backtofilter{
  margin-top: 20px;
  margin-bottom: 20px;

}

#attr-details div{
  color:#009682;
}
#tn-details{
  margin-top: 20px;
}

.iflike{
	float:right;
}


